

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flexable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.section-header {
    margin-bottom: 20px;
}
.style-item-slides {
    margin-right: -15px;
}
.product-detail-section .crazy-product-variants,
.crazy-product-variants,
.product-detail-section .crazy-product-attributes,
.crazy-product-attributes {
    figure {
        margin: 5px 0;
    }
    figcaption {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #333333;
        margin-bottom: 12px;
    }
    ul.crazy-product-attribute-values {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            position: relative;
            // overflow: hidden;
            margin-right: 12px;
            margin-left: 0px;
            margin-bottom: 10px;
            input[type="radio"] {
                display: none;
                position: absolute;
                height: 10px;
                width: 10px;
                top: -30px;
                left: -30px;
                visibility: hidden;
                opacity: 0;
            }
            label {
                padding: 4px 24px;
                background: #fff;
                border: 1psx solid #ebebeb;
                border-radius: 4px;
                cursor: pointer;
                & + .span.attr-text {
                    display: none;
                }
            }
            input[type="radio"]:checked + label {
                background: #ad213a;
                border-color: #ad213a;
                color: #fff;
            }
        }
        &.crazy-product-attribute-color-values {
            li {
                padding: 0px;
                margin-right: 12px;
                label {
                    overflow: hidden;
                    margin: 0;
                    padding: 0;
                    width: 63px;
                    height: 24px;
                    line-height: 24px;
                    vertical-align: top;

                    background-color: transparent;
                    border-radius: 4px;
                    -webkit-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    position: relative;
                    z-index: 10;
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;

                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        // display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        text-align: center;

                        line-height: 24px;
                        content: "\f00c";
                        color: #fff;
                        border: none;
                        box-shadow: none;

                        display: block;
                        position: absolute;
                        z-index: 10;
                        // border: 1px solid #000;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        top: 50%;
                        left: 150%;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        border: none;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        border-radius: 4px;
                        opacity: 0;
                    }
                    &::after {
                        content: " ";
                        display: block;
                        position: absolute;
                        z-index: 1;
                        // border: 1px solid #000;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        top: 50%;
                        left: -150%;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        border: none;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        border-radius: 4px;
                        opacity: 0;
                    }
                    & > span {
                        display: none;
                    }
                    & + .attr-text {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        opacity: 0;
                        left: 50%;
                        transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        z-index: -1;
                        span {
                            position: relative;
                            left: -50%;
                            background-color: #fff;
                            color: #000;
                            padding: 0;
                            font-size: 0;
                            white-space: nowrap;
                            transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out;
                            box-shadow: 0 0 10px rgba(136, 136, 136, 0.8);
                        }
                    }
                    &:hover {
                        z-index: 200;
                        & + .attr-text {
                            bottom: 130%;
                            opacity: 1;
                            z-index: 100;
                            span {
                                padding: 5px 10px;
                                font-size: 13px;
                            }
                        }
                    }
                }

                input[type="radio"]:checked + label {
                    border: 1px solid #ad213a;
                    box-shadow: 0px 4px 4px -4px rgba(91, 12, 12, 0.08);
                    &::before {
                        opacity: 1;
                        left: 0;
                        border: none;
                        box-shadow: none;
                    }
                    &::after {
                        left: 0;
                        background-color: #ad213a;
                        opacity: 0.3;
                    }
                }
            }
        }

        &.crazy-product-attribute-image-values {
            li {
                margin-bottom: 10px;
                label {
                    overflow: hidden;
                    margin-bottom: 0;
                    padding: 1px 1px;
                    width: auto !important;
                    height: auto !important;
                    img {
                        width: 70px;
                        height: 70px;
                        object-fit: contain;
                        & + span {
                            display: none;
                            // display: block;
                            text-align: center;
                        }
                    }
                    & + span {
                        display: block;
                        text-align: center;
                    }
                    &::before {
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;

                        -moz-osx-font-smoothing: grayscale;
                        -webkit-font-smoothing: antialiased;
                        // display: inline-block;
                        font-style: normal;
                        font-variant: normal;
                        text-rendering: auto;
                        text-align: center;

                        line-height: 24px;
                        content: "\f00c";
                        color: #fff;
                        border: none;
                        box-shadow: none;

                        display: block;
                        position: absolute;
                        text-align: center;
                        z-index: 10;
                        opacity: 0;
                        // border: 1px solid #000;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        top: 0;
                        left: 150%;
                        border: none;
                        width: 24px;
                        height: 24px;
                        font-size: 16px;
                        line-height: 24px;
                        border-radius: 4px;
                    }
                    &::after {
                        content: " ";
                        display: block;
                        position: absolute;
                        z-index: 1;
                        // border: 1px solid #000;
                        -webkit-transition: all 0.4s ease;
                        transition: all 0.4s ease;
                        top: 0;
                        left: -150%;
                        border: none;
                        width: 24px;
                        height: 24px;
                        line-height: 24px;
                        border: 1px solid #ad213a;
                        opacity: 0;
                        border-radius: 4px;
                    }
                }

                input[type="radio"]:checked + label {
                    border: 1px solid #ad213a;
                    box-shadow: 0px 4px 4px -4px rgba(91, 12, 12, 0.08);
                    background: #fff;
                    color: #ad213a;
                    &::before {
                        opacity: 1;
                        border: none;
                        box-shadow: none;

                        left: 0;
                    }
                    &::after {
                        left: 0;
                        background-color: #ad213a;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}

.style-form-components {
    .tab-nav{
        ul{
            padding-left: 0;
        }
    }
    .style-types {
        position: relative;
        margin: 0 auto;
        margin-bottom: 24px;
        .frame {
            position: relative;
            background-color: rgb(212, 212, 212);
            overflow: hidden;
            border-radius: 4px;
            .avatar {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item {
                position: absolute;
                &.back {
                    z-index: 5;
                }
                &.front {
                    z-index: 20;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .style-items {
        .tab-nav {
            margin-bottom: 15px;
            padding-top: 2px;
            ul {
                display: flex;
                list-style: none;

                li {
                    display: block;
                    position: relative;
                    margin-right: 15px;
                    a {
                        text-decoration: none;
                        padding: 6px 14px;
                        font-size: 12px;
                        background: #ffffff;
                        box-shadow: 0px 8px 12px rgba(83, 0, 0, 0.06);
                        border-radius: 4px;
                        &:hover,
                        &.active {
                            color: #ffffff;
                            background-color: #ad213a;
                        }
                    }
                }
            }
        }
        .tab-contents {
            img {
                max-width: 100%;
            }
            .tab-item {
                display: none;
                &.active {
                    display: block;
                }
                .row {
                    margin-top: calc(var(--bs-gutter-y) * -1);
                    margin-right: -8px;
                    margin-left: -8px;
                    & > * {
                        padding-left: 9px;
                        padding-right: 8px;
                        margin-bottom: 8px;
                        margin-top: 8px;
                    }
                }
            }
            .template-item {
                position: relative;
                // overflow: hidden;
                cursor: pointer;
                .img-ratio {
                    position: relative;
                    cursor: pointer;
                    .checked {
                        cursor: pointer;
                        position: absolute;
                        top: 49%;
                        left: 49%;
                        width: 2%;
                        height: 2%;
                        opacity: 0;
                        transition: all ease 0.3s;
                        -webkit-transition: all ease 0.3s;
                        border: 0 dotted transparent;
                    }
                }
                .ratio {
                    width: 100%;
                    display: block;
                    cursor: pointer;
                    &::after {
                        content: " ";
                        display: table-cell;
                        clear: both;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 4px;
                    cursor: pointer;
                }

                label {
                    display: block;
                    position: relative;
                    box-sizing: border-box;

                    overflow: hidden;
                    border-radius: 4px;
                }
                input[type="radio"] {
                    position: absolute;
                    top: -100px;
                    left: -100px;
                    opacity: 0;
                    &:checked {
                        + label {
                            box-shadow: 0px 8px 12px rgba(83, 0, 0, 0.06);
                            .checked {
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                border: 4px solid #ad213a;
                            }
                        }
                    }
                }
            }
        }

        .name-group {
            min-height: 70px;
        }
    }
}


.attribute-nav {
    list-style: none;
    padding-left: 0;
    li {
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 16px;
        a {
            text-decoration: none;
            display: block;
            background: #ffffff;
            box-shadow: 0px 8px 12px rgba(83, 0, 0, 0.1);
            border-radius: 4px;
            padding: 4px 16px;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            
            color: #333333;
            &.active, &:hover{
                background: #ad213a;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}


@media screen and(min-width: 768px) {
    .style-form-components {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .style-types {
            width: 352px;

            .thumbnail-group {
                min-height: 70px;
            }
        }
        .style-items {
            flex: 1;
            margin-left: 15px;

            .name-group {
                max-width: 70%;
            }
        }
    }
}
